@model  WebCons.WebUI.MovimentiViewModel
<table>
    <tr>
        <td>
            @Html.LabelFor(x => x.DataCompetenza)
        </td>

        <td>
            @Html.EditorFor(x => x.DataCompetenza)
        </td>
    <tr>
        <td>
            @Html.LabelFor(x => x.Progetto)
        </td>
        <td>
            @Html.EditorFor(x => x.Progetto)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(x => x.Fase)
        </td>
        <td>
            @Html.EditorFor(x => x.Fase)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(x => x.Unita)
        </td>
        <td>
            @Html.EditorFor(x => x.Unita)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(x => x.Presidio)
        </td>
        <td>
            @Html.EditorFor(x => x.Presidio)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(x => x.Jira)
        </td>

        <td>
            @Html.EditorFor(x => x.Jira)
        </td>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(x => x.Risorsa)
        </td>

        <td>
            @Html.EditorFor(x => x.Risorsa)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(x => x.OreConsuntivate)
        </td>

        <td>
            @Html.EditorFor(x => x.OreConsuntivate)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(x => x.OreAssenza)
        </td>

        <td>
            @Html.EditorFor(x => x.OreAssenza)
        </td>
    </tr>
</table>
